body {
  color: hsl(0, 0%, 20%);
  max-width: 60rem;
  margin: auto;
  font-size: 1.4rem;
  transition: 0.4s;
}

nav,main,footer {
  margin: 1rem 2rem;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

@keyframes fading {
  from {
      opacity: 0;
  }
  to {
       opacity: 1;   
  }
}

.invisible {
  opacity: 0;
  animation: fading ease-in-out 0.4s;
  animation-fill-mode: forwards;
 /* animation-duration: 0.4s; */
}

.swup-progress-bar {
  height: 0.6rem;
  background-color: rgb(87, 1, 157);
}