{% extends "layout.html" %}
{% block title %}Contact - Form{% endblock %}
{% block content %}
      <h2>Submit your CV</h2>
      <p>Fill out the form below to submit your CV.</p>

      <form action="/#submit" method="POST" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="job_description">Job Description:</label>
        <input for="job_description" id="job_description" name="job_description" required>
        <label for="cv">CV (PDF or DOCX):</label>
        <input type="file" id="cv" name="cv" accept=".pdf,.docx" required>
        <input type="submit" value="Submit">
      </form>
{% endblock %}

