<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}Site{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
    <meta
      name="description"
      content="A simple website built with Flask and Swup.js"
    />
    <meta
      name="keywords"
      content="flask, swup, swup.js, python, web development"
    />

    <script src="{{ url_for('static', filename='js/swup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swup-forms-plugin.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swup-scripts-plugin.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swup-progress-plugin.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    {# https://codepen.io/openco/pen/xxJYvgR.css Startr CSS Startr Style is a
    utility-first CSS framework for rapidly building custom user interfaces.
    Avoiding class bloat, Startr Style provides a minimal set of styles and
    robust utilities using variables and logic to cover a wide variety of use
    cases. #} {#
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/startr.css') }}"
    />
    #}
    <link rel="stylesheet" href="https://startr.style/style.css" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon/favicon.ico') }}"
    />
    <script data-swup-ignore-script>
      const swup = new Swup({
        plugins: [
          new SwupFormsPlugin({
            formSelector: "form:not([data-no-swup])",
          }),
          new SwupScriptsPlugin({ head: true, body: true }),
          new SwupProgressPlugin({
            className: "swup-progress-bar",
            transition: 300,
            delay: 0,
            initialValue: 0.25,
            finishAnimation: true,
          }),
        ],
      });
    </script>
    <script src="https://js.stripe.com/v3/" data-swup-ignore-script></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}
  </head>
  <body
    class="invisible"
    style="--d: flex; --fd: column; --minh: 100vh; --maxw-md: 70rem"
  >
    {#
    <header>
      <img
        src="{{ url_for('static', filename='images/example.jpeg') }}"
        alt="Example Image"
        style="--w: 100%"
      />
    </header>
    #}
    <header
      style="
        --pos: relative;
        --z: 1;
        --w-xl: calc(100vw + 1rem);
        --t-xl: translate(calc(((100vw - var(--maxw-md)) / -2) - 0rem));
      "
    >
      <div
        style="
          --d: flex;
          --jc: space-between;
          --ai: center;
          --mb: 2rem;
          --mt: 1rem;
          --pr-xl: 1rem;
        "
      >
        <a href="/"
          ><img
            alt="Startr/Style"
            src="{{ url_for('static', filename='images/Startr_Logo.png') }}"
            style="--w: 6rem; --p: 0.8rem"
        /></a>
        <nav aria-label="Navigation" style="--ta: right">
          {% if session._user_id %}
          <a href="/dashboard">⑈</a>
          <!-- -->
          <a href="/free_page"><button class="white">Process CV</button></a>
          <!---->
          {% endif %}<!---->
          <a href="/about"> <button class="white">About</button> </a>
          <a href="/contact"> <button class="white">Contact</button> </a>
          <!---->
          {# only show these links if the user is not logged in #}<!---->
          {% if not session._user_id %}
          <a href="/register">
            <button>Register</button>
          </a>
          <a href="/login">
            <button class="white">Login</button>
          </a>
          {% endif %}
          <!---->
          {% if session._user_id %}
          <!---->
          {# only show these links if the user is logged in #}
          <!---->
          {# only show if the user is not a pro user #}
          <!---->
          {% if not current_user.account_type == "pro" %}
          <a href="/upgrade"><button>Upgrade</button></a>{% else %}
          <a href="/pro_page"> <button class="white">Pro Page</button> </a>{%
          endif %}
          <a href="/logout" data-no-swup>Logout</a>
          {% endif %}
        </nav>
      </div>
    </header>

    {{ session._user_account_type }}
    <main id="swup" class="transition-fade">
      {% block content %} {% endblock %}
    </main>
    <footer class="footer" style="--mt: auto">
      <div style="--d: flex; --jc: center; --fd: column">
        <div style="--ta: center; --mb: 1rem">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <div style="--m: auto; --ta: center; --op: 0.7">
          <p style="--mb: 0">
            Carefully crafted by the
            <a href="https://startr.ca">Startr Team</a> with the help of
            <a href="https://github.com/Startr/WEB-flask/graphs/contributors"
              >our contributors</a
            >.
          </p>
          <p style="--mb: 0">
            Startr Style licensed
            <a
              href="https://github.com/Startr/WEB-flask/blob/master/LICENSE.md"
              target="_blank"
              rel="license noopener"
              >AGPL</a
            >, docs
            <a
              href="https://creativecommons.org/licenses/by/3.0/"
              target="_blank"
              rel="license noopener"
              >CC</a
            >.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
